<table class="table">
<thead>
  <tr>
    <th>usuario</th>
    <th>hora</th>
    <th>contador</th>
  </tr>
</thead>
<tbody>
  <% @tasks.each do |tasks| %>
  <tr>
    <td><%= current_user.email %></td>
    <td><%= tasks.created_at %></td>
    <td><%=  %></td>
  </tr>
  <% end %>
</tbody>
</table>
